URxvt.perl-ext-common: urxvt-font-size/font-size

URxvt.font:     xft:DejaVu Sans Mono:size=10:antialias=true
URxvt.boldFont: xft:DejaVu Sans Mono:bold:size=10:antialias=true

URxvt.scrollBar: false
URxvt.saveLines: 5000

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! URxvt.letterSpace: 0

URxvt.keysym.Control-Up:   \033[1;5A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C

URxvt.keysym.C-asciicircum: font-size:increase
URxvt.keysym.C-aring:       font-size:decrease
URxvt.keysym.C-equal:       font-size:reset
URxvt.keysym.C-slash:       font-size:show

! Old colorcheme:
! URxvt.background: lightyellow
! New colorscheme zenburn:
URxvt*termName: rxvt-256color
URxvt*xftAntialias: true
URxvt*background: #3f3f3f
URxvt*foreground: #dcdccc
URxvt*cursorColor: #aaaaaa
! colorURL makes man pages unreadable.
! URxvt*colorUL: #366060
URxvt*underlineColor: #dfaf8f
URxvt*color0: #3f3f3f
URxvt*color1: #cc9393
URxvt*color2: #7f9f7f
URxvt*color3: #d0bf8f
URxvt*color4: #6ca0a3
URxvt*color5: #dc8cc3
URxvt*color6: #93e0e3
URxvt*color7: #dcdccc
URxvt*color8: #000000
URxvt*color9: #dca3a3
URxvt*color10: #bfebbf
URxvt*color11: #f0dfaf
URxvt*color12: #8cd0d3
URxvt*color13: #dc8cc3
URxvt*color14: #93e0e3
URxvt*color15: #ffffff
