[submodule "dotfiles/.vim/bundle/a"]
	path = dotfiles/.vim/bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "dotfiles/.vim/bundle/pathogen"]
	path = dotfiles/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotfiles/.vim/bundle/zenburn"]
	path = dotfiles/.vim/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "dotfiles/.vim/bundle/minibufexpl"]
	path = dotfiles/.vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "dotfiles/.vim/bundle/supertab"]
	path = dotfiles/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "dotfiles/.vim/bundle/rust"]
	path = dotfiles/.vim/bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "dotfiles/.vim/bundle/cscope_dynamic"]
	path = dotfiles/.vim/bundle/cscope_dynamic
	url = https://github.com/erig0/cscope_dynamic.git
[submodule "dotfiles/.vim/bundle/ragel"]
	path = dotfiles/.vim/bundle/ragel
	url = https://github.com/msteinert/vim-ragel.git
[submodule "dotfiles/.vim/bundle/rename"]
	path = dotfiles/.vim/bundle/rename
	url = https://github.com/danro/rename.vim
[submodule "dotfiles/.vim/bundle/scons"]
	path = dotfiles/.vim/bundle/scons
	url = https://github.com/vim-scripts/scons.vim
