[submodule "dotfiles/.vim/bundle/a"]
	path = dotfiles/.vim/bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "dotfiles/.vim/bundle/pathogen"]
	path = dotfiles/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotfiles/.vim/bundle/zenburn"]
	path = dotfiles/.vim/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "dotfiles/.vim/bundle/minibufexpl"]
	path = dotfiles/.vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "dotfiles/.vim/bundle/supertab"]
	path = dotfiles/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "dotfiles/.vim/bundle/cscope_dynamic"]
	path = dotfiles/.vim/bundle/cscope_dynamic
	url = https://github.com/erig0/cscope_dynamic.git
[submodule "dotfiles/.vim/bundle/rename"]
	path = dotfiles/.vim/bundle/rename
	url = https://github.com/danro/rename.vim
[submodule "dotfiles/.vim/bundle/scons"]
	path = dotfiles/.vim/bundle/scons
	url = https://github.com/vim-scripts/scons.vim
[submodule "dotfiles/.vim/bundle/textobj-line"]
	path = dotfiles/.vim/bundle/textobj-line
	url = https://github.com/kana/vim-textobj-line.git
    ignore = dirty
[submodule "dotfiles/.vim/bundle/textobj-user"]
	path = dotfiles/.vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
    ignore = dirty
[submodule "dotfiles/.vim/bundle/vim-tmux-navigator"]
	path = dotfiles/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "dotfiles/.vim/bundle/vim-dispatch"]
	path = dotfiles/.vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "dotfiles/.vim/bundle/vim-eunuch"]
	path = dotfiles/.vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "dotfiles/.vim/bundle/fzf"]
	path = dotfiles/.vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "dotfiles/.vim/bundle/vim-polyglot"]
	path = dotfiles/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "dotfiles/.vim/bundle/vim-bitbake"]
	path = dotfiles/.vim/bundle/vim-bitbake
	url = https://github.com/kergoth/vim-bitbake.git
[submodule "dotfiles/.urxvt/ext/urxvt-font-size"]
	path = dotfiles/.urxvt/ext/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
[submodule "dotfiles/.vim/bundle/vim-orgmode"]
	path = dotfiles/.vim/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "dotfiles/.tmux/plugins/tpm"]
	path = dotfiles/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dotfiles/.vim/bundle/hexmode"]
	path = dotfiles/.vim/bundle/hexmode
	url = https://github.com/fidian/hexmode.git
[submodule "dotfiles/.vim/bundle/table-mode"]
	path = dotfiles/.vim/bundle/table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
